html,
body {
  background-color: #1e1e1e;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  cursor: url(assets/target.png), crosshair;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.campo {
  background: #db3082;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
}

input {
  font-size: 16px;
  padding: 5px;
}

.feedback {
  background: #9c225d;
  border-radius: 5px;
  font-size: 18px;
  left: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
}

.liberado {
  background: #72418c;
  border-color: #72418c;
}

.botao-finalizar {
  background-color: #ff087f;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  position: absolute;
  transition: transform 0.2s ease;
}

.roleta {
  background-color: #e840aa;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.roleta h2 {
  margin-bottom: 20px;
  border-bottom: #fff;
}

.opcao-roleta {
  font-size: 18px;
  margin: 10px 0;
}
